<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
  <body>
    <div layout:fragment="content">
        <div id="frame">
        <br> <br> <br>
        <!-- 로그인 액션 -->
           <div id="check_password">
               <div
                   style="padding-left: 50px; padding-right: 50px; padding-top: 10px;">
                   <div>
                       <p style="font-weight: 600; font-size: 25px; margin-bottom: 40px">비밀번호를 입력해주세요.</p>
                   </div>
                   <div class="sign_up_div">
                   </div>
                   <form action="/user/checkpassword" method="post">
                       <input type="hidden" id="userid" name='userid' th:value='${session.id}'>
                       <input class="login_input" type="password" id="password" name="password"
                           placeholder="비밀번호" />
                       <div class="sign_up_div" style="margin: 30px;">
                       </div>

                       <button type="submit" id="click_login" class="login_button"
                           style="background-color: rgb(133, 172, 255);">확인</button>
                   </form>
               </div>
           </div>
       </div>
    </div>
  </body>
</html>