.board_num {
	width: 10%;
	font-weight: 600;
}

.board_title {
	width: 46%;
	font-weight: 600;
}

.board_writer {
	width: 15%;
	font-weight: 600;
}

.board_time {
	width: 15%;
	font-weight: 600;
}

.board_recommend {
	width: 7%;
	font-weight: 600;
}

.board_ref {
	width: 7%;
	font-weight: 600;
}

.board_table {
	width: 60%;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 0 10px;
	/* 以묒븰 �젙�젹�븯湲� */
}

.board_table td {
	border-bottom: 1px solid #444444;
	padding-bottom: 10px;
}

#write_content {
	border-radius: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-color: whitesmoke;
	background-color: rgb(158 185 255);
	color: white;
	width: 80px;
	height: 30px;
	font-size: 12px;
	font-weight: 600;
}

div.replyModal {
	position: relative;
	z-index: 1;
	display: none;
}

div.modalBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: -1;
}

div.modalContent {
	position: fixed;
	top: 20%;
	left: calc(50% - 320px);
	width: 600px;
	height: 400px;
	padding: 20px 10px;
	background: #fff;
	border: 2px solid #666;
}

div.modalContent textarea {
	font-size: 16px;
	font-family: '맑은 고딕', verdana;
	padding: 10px;
	width: 96%;
	height: 200px;
	display: inline-block;
}

div.modalContent button {
	font-size: 15px;
	padding: 5px;
	margin: 10px 0;
	background: rgb(72 224 166);
	border: 1px solid #ccc;
	color: #ffffff;
	border-radius: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

div.modalContent button.modal_cancel {
	margin-left: 10px;
	background: #f1f1f9;
	color: black;
	
}

div#write_container{
    display: inline-block;
    width: 50%;
    height: 700px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
}

div#write_info{
    display:block;
    content:"";
    clear:both;
    height: 30px;
    text-align: center;
}
div.write_left{
    width: 50%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    
}

#title{
    height: 110px; 
    padding: 10px;
     background-color: rgb(248, 248, 248);
     border-radius: 1em;
     border-top-left-radius: 1em;
     border-top-right-radius: 1em;
     border-bottom-left-radius: 1em;
     border-bottom-right-radius: 1em;
}

.info_content{
    display: inline-block;
}

div.write_right{
    width: 50%;
    float: right;
    box-sizing: border-box;
    
}

div#write_textarea{
    width: 100%;
    height: 400px;
}

#write_button{
  
        border-radius: 1em;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        border-color: whitesmoke;
        background-color: rgb(83, 227, 172);
        color: white;
        font-size: 15px;
        font-weight: 600;
        width: 50%;
        height: 45px;
        outline: none;
    
}

#do_write{
	width: 70%; 
	display: inline-block; 
	text-align: right; 
	padding-right: 130px;
}